:root {
  --color-background: #222;
  --color-primary: #44d62c;
  --color-grey: #d3d3d3;
  --color-light: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kedebideri", sans-serif;
  background-color: var(--color-background);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  width: 100%;
  padding: 0.7rem 0.5rem;
  background-color: var(--color-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-conteiner {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  display: none;
}

.logo {
  position: absolute;
  font-size: 1rem;
}

.anchor-link {
  text-decoration: none;
  color: var(--color-grey);
}

.anchor-icon {
  padding: 0 0.3rem;
}

.title {
  font-weight: 600;
  font-size: 1.7rem;
}

.hero-img-background {
  width: 100%;
  position: absolute;

  overflow: hidden;
  display: grid;
  place-items: center;
  flex-direction: column;
}

.hero-container {
  z-index: 10;
  display: flex;
  justify-content: start;

  flex-direction: column;
  position: relative;
  gap: 0.4rem;
  padding-top: 2rem;
}

.description {
  font-size: 1.2rem;
}

.hero-container p,
.hero-btns {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-family: "Cairo", sans-serif;
}

button {
  border: none;
  background: transparent;
  font-size: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.9rem;
}

.arrow::after {
  color: var(--color-primary);
  content: ">";
  padding: 0 0.4rem;
}

.light {
  color: var(--color-light);
}

@media (min-width: 300px) {
  section {
    height: 51vh;
  }
}

@media (min-width: 374px) {
  section {
    height: 60vh;
  }
}

@media (min-width: 420px) {
  section {
    height: 66vh;
  }
}

@media (min-width: 760px) {
  section {
    height: 99vh;
  }
  .hero {
    padding-top: 5rem;
  }
}
